@model Content
@section title {
  <title>Create Content | LMSApp</title>
}

<form class="container-sm mt-3" asp-controller="Instructor" asp-action="ContentCreate" method="POST">
  <div class="row justify-content-center">
    <div class="card col-9 p-0">
      <div class="card-header bg-dark" style="color:#2fd3bb;font-size:24px;">
        <div class="card-title text-center pt-3">Create Content</div>
      </div>
      <div class="card-body">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row mb-3">
          <div class="row">
            <div class="col input-group input-group-sm mb-3">
              <span class="input-group-text bg-secondary" style="color:#fff; id=" inputGroup-sizing-sm">Title</span>
              <input type="text" asp-for="@Model.Title" class="form-control" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="col input-group input-group-sm mb-3">
              <span class="input-group-text bg-secondary" style="color:#fff;" id="inputGroup-sizing-sm">Video Url</span>
              <input type="text" asp-for="@Model.VideoUrl" class="form-control" aria-describedby="inputGroup-sizing-sm">
            </div>
          </div>
          <div class="row">
            <div class="col input-group input-group-sm">
              <select asp-for="@Model.SectionId" asp-items="@ViewBag.Sections" class="form-control" aria-describedby="inputGroup-sizing-sm">
                <option selected disabled>Seçiniz</option>
              </select>
            </div>
          </div>
          <div class="mt-3 d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary">Create</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>