
    <div class="accordion accordion-container" id="acco">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button btnhover collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#section1">
            <input type="text" class="form-control" placeholder="Section Title" style="max-width: 200px;">
          </button>
        </h2>
        <div id="section1" class="accordion-collapse collapse">
          <div class="accordion-body  m-0 p-0">
            <ul class="list-group">
              <li class="list-group-item" style="border-top: none;border-left: none;border-right: none;">
                <div class="row input-group">
                  <input type="text" class="col form-control" placeholder="Content Title">
                  <input type="text" class="col form-control" placeholder="Content Video Url">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>