@section title {
  <title>Home | LMSApp</title>
}

<div class="row mt-5 ">
    <div class="col-7 mt-5">
      <h1 class="mt-5" style="font-size: 72px;font-weight:bold;margin-left:300px;">Learn without limits</h1>
      <p class="text-muted" style="font-size: 26px;margin-left:300px;padding-right:140px;">Start, switch, or advance your career with more than 30 free courses.</p>
      <div class="row">
        <a asp-controller="Account" asp-action="Register" class="btn" style="margin-left:300px;background-color:#0056d2;color:#fff;height: 60px;width:250px;font-size: 24px;font-weight:bold;padding-top:10px;">Join For free</a>
      </div>
    </div>
    <div class="col-5">
      <img src="~/img/student.jpg" alt="Student" class="img-fluid rounded">
    </div>
</div>
    